   * {
   color0:	#10181eCC;
   color1:	#3B6A85;
   color2:	#48758D;
   color3:	#677B8B;
   color4:	#5F8EA6;
   color5:	#7DA8C1;
   color6:	#92B3C7;
   color7:	#d0dce4;
   color8:	#919a9f;
   color9:	#3B6A85;
}
